<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <setting id="username" type="text" label="30300" />
    <setting id="password" type="text" label="30301" option="hidden" />
    <setting id="host" type="text" label="30302" />
    <setting id="use_ssl" type="bool" label="30303" default="true" />
</settings>
